@media (min-width: 360px) and (max-width: 550px) {
  header {
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center
  }

  .container-fluid {

    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #16043D !important;
    height: 200px;
    width: 85vw;
    margin-right: 10px;
    margin-left: 10px;
  }

  .container-fluid ul {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 10px;
  }

  .container-fluid .d-flex {
    height: 4vh;
    width: 40vw;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    gap: 20px;
  }

  .container-fluid .btn-outline-success {
    height: 3.5vh;
    width: 20vw;
    display: flex;
    align-items: center;
  }

  .main-index {
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
    /* justify-content: space-evenly; */
    row-gap: 5px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;

    }
  }


  .main-index img {
    width: 100px;
    height: 100px;
    border: groove pink 5px;
  }

  footer {
    width: 86%;
    border-radius: 40px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: rgb(105, 1, 169);
    background: linear-gradient(0deg, rgba(105, 1, 169, 0.9808298319327731) 0%, rgba(21, 4, 57, 1) 84%);
    ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .main-accesorios {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .btn-group {
      margin-bottom: 30px;
      button{
        width: 200,5px;
      }
    }
    .imagenes-de-accesorios {
        display: grid;
        grid-template-columns: repeat(1, 200px);
        grid-template-rows: repeat(200px, auto);
        gap: 30px; 

        .item {
          width: 200px;
          height: 200px;
        }
        
        .item-especial{
          display: flex;
          justify-content: center;
        }
      }
    }
    .main-auriculares{
      display:flex;
      flex-direction: column;
      align-items: center;
      padding:30px;
  label{width: 200,5px;
      height: 40px;
      background-color: white;
      text-align: center;
      padding: 5px;
  }
  .btn-group{
      margin-bottom: 20px;
  }
  .imagenes-de-auriculares{
      display: grid;
      grid-template-columns: repeat(1, 250px);
      grid-template-rows: repeat(auto,250px);
      .item{width: 200px;
        height: 200px;
  }}}

  .main-cargadores{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    width: 90vw;
  .btn-group{
    margin-bottom: 20px;
  }
label{width: 200px;
    height: 30px;
    background-color: white;
    text-align: center;
    padding: 2px;
}
.imagenes-de-cargadores{
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(auto fill, 200px);
   .item{width: 200px;
    height: 200px;
  }}}
}
